.description {
  background-color: black;
  color: #fff;
  /* clip-path: polygon(100% 0%, 100% 50%, 100% 50%, 0 100%, 0% 50%, 0 0); */
}

.role {
  padding-top: 5rem;
  padding-bottom: 2rem;
  font-family: 'Oswald', sans-serif;
  font-size: 8rem;
  background: linear-gradient(
    -45deg
    , #ee7752, #e73c7e, #23a6d5, #23d5ab);
    /* background-size: 400% 400%; */
    animation: gradient 15s ease infinite;
    /* height: auto; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  z-index: 1000;
}

.thoughts {
  margin: 0 auto;
  width: 46.5%;
  line-height: 30px;
  padding-bottom: 7rem;
}

.fixQuote {
  font-family: sans-serif;
  font-size: 14vw;
  content: "\201C";
  /* margin-left: -60px;
  float: left;
  margin-top: -115px; */
}

@media screen and (max-width: 820px) {
 .role {
   font-size: 3.25rem;
 }

 .thoughts {
   width: 83.5%;
 }
}

@media screen and (max-width: 768px) {
}