* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif;
}

.pad-left-20 { padding-left: 20px;}
.pad-btm-20 { padding-bottom: 20px;}
.pad-top-15 { padding-top: 15px;}
.pad-top-10 { padding-top: 10px;}
.mar-btm-30 { margin-bottom: 30px;}
.mar-btm-60 { margin-bottom: 60px;}
.margin-top-30 { margin-top: 30px; }
.thin-font-weight { font-weight: 100; }
.heavy-font-weight { font-weight: bold; }
.large-font-100 { font-size: 100px; }
.large-font-75 { font-size: 75px; }
.med-font-45 { font-size: 45px; }
.medium-font-50 { font-size: 50px; }
.medium-font-30 { font-size: 30px; }
.medium-font-25 { font-size: 25px; }
.medium-font-20 { font-size: 20px; }
.center-align { text-align: center; }
.black-bg { background-color: black;}
.gradient-text {
  background: linear-gradient( 
    -45deg
     , #ee7752, #e73c7e, #23a6d5, #23d5ab);
        /* background-size: 400% 400%; */
        animation: gradient 15s ease infinite;
        /* height: auto; */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        z-index: 1000;
}
.profile-test {
  margin-top: 2rem;
  margin-right: 4rem;
}

section {
  display: flex;
  flex-direction: column;
}

p { line-height: 1.75; }

.home,
.blog,
.hire-me {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  background-color: black;
  color: #fff;
  font-size: 80px;
  padding-bottom: 5%;
}

.jamesProfileImg {
  margin-top: -20px;
  border-radius: 50%;
  /* border: 10px solid #23a6d5; */
  height: 300px;
}

.module-border-wrap {
  max-width:330px;
  height: 330px;
  /* padding: 1rem; */
  padding-left: 20px;
  position: relative;
  background: linear-gradient(to right, #23a6d5, #e73c7e);
  padding: 3px;
  border-radius: 50%;
  /* margin-top: -95px; */
}

.module {
  border-radius: 50%;
  padding: 2rem;
  margin-left: -20px;
}

.contact {
  display: flex;
  /* height: 90vh; */
  align-items: center;
  justify-content: center;
}

.about-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: black;
}

.about-container {
  background-color: black;
  color: white;
  width: 25%;
  padding: 3rem 0 5rem;
}

.about-container:first-child {
  border: 1px solid white;
  border-radius: 10px;
  padding: 30px 30px 0 40px;
  margin-right: 50px;
  height: 280px;
}

.white-text { color: white; }

.about-container:nth-child(2),
.about-container:nth-child(3),
.about-container:nth-child(4) {
  padding: 25px 30px;
}

li { color: #989898;}

.bio-container {
  background-color: black;
}

.mountains-pic-1 {
  display: flex;
}

.explore-pic-2 {
  display: flex;
  flex-direction: column;
}

.sketch-pic-3 {
  display: flex;
}

.james-bg {
  margin-right: 30px;
  width: 50%;
  height: auto;
}

.sketches {
  width: 800px;
  height: 400px;
}

.backcountry-website-bg {
  width: 725px;
  height: 450px;
  margin-bottom: 30px;
}

.youtube-size {
  width: 750px;
  height: 422px;
}

.myStory {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 120px;
  background-color: black;
  color: white;
  padding-bottom: 70px;
}


.blog {
  background-image: url('../src/images/img-home.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact {
  /* background-image: url('../src/images/img-4.jpg'); */
  /* background-position: center;
  background-size: fill;
  background-repeat: no-repeat; */
  background-color: black;
  color: #fff;
  /* font-size: 100px; */
}

.form-text-med { 
  font-size: 20px;
  color: white;
 }

.contact-container {
  display: flex;
}

.enter-form { 
  width: 500px;
  font-size: 30px;
  font-weight: 100;
}

.contact-name {
  width: 100%;
  background-color: black;
  border-top: 1px solid black;
  border-left-color: black;
  border-right-color: black;
  border-bottom: 1px solid white;
  color: #B0B0B0;
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-name:focus {
  border-top: 1px solid black;
  border-left-color: black;
  border-right-color: black;
  border-bottom: 1px solid deeppink;
  outline: none;
}

.btm-margin-100 { margin-bottom: 100px; }

.output-form {
  background-color: black;
  border-radius: 10px;
  /* margin: 30px 100px 0; */
  margin: 165px 100px 0;
  color: #23a6d5;
  font-size: 30px;
  width: 350px;
}

.portfolio {
  background-color: white;
  color: black;
  font-size: 100px;
  margin-top: 1rem;
}

.hire-me {
  background-image: url('../src/images/img-9.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.container-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-top: 15px;
}

.container-card-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-bottom: 70px;
}

.img-card {
  width: 350px;
  height: 250px;
  background-color: white;
  margin: 15px;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
}

.james {
  border-radius: 50%;
  margin-right: 4rem;
  margin-top: 7rem;
}

span.fixQuote {
  display: block;
  height: 200px;
  float: left;
  margin-top: -30px;
  margin-right: 10px;
  margin-left: 2rem;
  font-size: 6rem;
  font-family: 'Oswald';
}

blockquote {
  margin-top: -50px;
}

.test {
  line-height: 2.5;
}

.testimonials {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.testimonial-container { 
  display: flex;
  flex-direction: row;
  color: white;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
}

.selfQuote {
  font-size: 2rem;
  font-weight: 400;
  padding-top: 40px;
  line-height: 1.25;
  margin-bottom: 100px;
  margin-top: 100px;
  border-left: 2px solid white;
}

.testimonialLink {
  color: white;
  text-decoration: none;
}

.testimonialLink:active,
.testimonialLink:hover {
  color: #e73c7e;
}

.privacy-policy-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-left: 10%;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

@media screen and (max-width: 820px) {

  div.cards {
    padding: 1rem;
  }

  .container-card,
  .container-card-2 {
    flex-direction: column;
  }

  .contact { padding-left: 10%;}

  .output-form {
    margin-left: 15%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .contact-name {
    width: 90%;
    padding-right: 30px;
  }

  .mountains-pic-1 {
    display: flex;
    flex-direction: column;
  }

  .explore-pic-2 {
    display: flex;
    flex-direction: column;
  }

  .sketch-pic-3 {
    display: flex;
    flex-direction: column;
  }

  .about-page {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

  .about-container {
    width: 90%;
  }

  .large-font-100 { 
    /* font-size: 5.5rem;  */
    font-size: 3.75rem;
  }

  .myStory {
    margin-left: 10%;
    /* margin-right: 10%; */
    margin-right: 10%;
  }

  .james-bg {
    width: 100%;
    height: auto;
  }

  .mountains-pic-1 {
    flex-direction: column;
  }

  .sketches {
    width: 100%;
    height: auto;
  }

  .backcountry-website-bg {
    width: 100%;
    height: auto;
  }

  .youtube-size {
    width: 100%;
    height: 300px;
  }

  .testimonial-container { 
    display: flex;
    flex-direction: column;
  }

  .selfQuote {
    border-left: 0;
    margin-left: -3rem;
    margin-top: 10px;
  }
  
  .james {
    margin-left: auto;
    margin-right: auto;
  }



  span.fixQuote {
    display: block;
    height: 400px;
    float: left;
    margin-top: -30px;
    margin-right: 10px;
    /* margin-left: 1rem; */
    font-size: 6rem;
  }

  .enter-form {
    width: 100%;
  }





  

}

@media screen and (max-width: 768px) {

}